build
bin

.idea/workspace.xml
.idea/tasks.xml
.idea/find.xml

.gradle
.settings
.externalToolBuilders
*.launch
.factorypath
.buildpath
.target
target

.swp

trygve.iws

src/main/java/info/fulloo/trygve/parser/Kant*